@import "tailwindcss";

:root {
  --background: #0D0D0F;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
  background-color: #0D0D0F;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

::selection {
  background-color: #C5A880;
  color: #000000;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0D0D0F;
}

::-webkit-scrollbar-thumb {
  background: #232328;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C5A880;
}